.footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;

  &__btn1,
  &__btn2 {
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }

  &__btn1:hover,
  &__btn2:hover {
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
  }

  &__btn1:active,
  &__btn2:active {
    transform: scale(0.95);
  }
}
