@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

.App {
  margin: 10px auto auto;
  max-width: 390px;
  width: 100%;
  background-color: #ddd;
  height: 700px;
  border-radius: 20px;
  font-family: "Kanit", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
